[Unit]
Description=Run NORVI backup daily

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=true
RandomizedDelaySec=10m
Unit=norvi-backup.service

[Install]
WantedBy=timers.target
